<div class="side-bar-header">
  <ul class="header-name">
    <li><%= link_to("トップページ", "/") %></li>
    <% if user_signed_in? && (current_user.id == 1) %>
      <li><%= link_to "コースの追加", new_park_path %></li>
    <% end %>
  </ul>
  <ul class="login-list">
      <% if user_signed_in? %>
        <li><%= current_user.nickname %></li> 
        <li><%= link_to 'ログアウト',  destroy_user_session_path, method: :delete %></li> 
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path %></li>
        <li><%= link_to '新規登録', new_user_registration_path %></li>
      <% end %>
    </ul>
</div>

<div class="parks">
  <div class="park">
    <ul class="list">
      <% @parks.each do |park|%>
        <li class="park">
          <%= link_to park_path(park) do %>
            <%= park.name %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>